.table{
    margin-left: 20px;
}
.containerss{
    max-width: 900px;
    width: 100%;
    padding: 10px;
    margin-left: 20px;
}
.containers form .frm_MaUser{
    width: 300px;
    display: inline-block;
    margin-top: 10px;
}
span{
    padding-right: 8px;
    
}
.input-box{
    max-width: 280px;
}
.input_container{
    border-radius: 3px;
    border-color: rgba(234, 243, 243, 0.61);
    height: 30px !important;
}
.frm_MaUser{
    width: 500px;
    margin-bottom: 10px;
    position: relative;
}
#input_hoten{
    position: absolute;
    left: 115px;
}
#input_diachi{
    position: absolute;
    left: 115px;
}
#input_sdt{
    position: absolute;
    left: 115px;
}
#input_email{
    position: absolute;
    left: 115px;
}#input_gioitinh{
    position: absolute;
    left: 115px;
}
#input_ngaysinh{
    position: absolute;
    left: 115px;
}
thead, tbody{
    text-align: center;
} 

