.table{
    margin-left: 20px;
    /* width: 800px; */
}
.containerss{
    max-width: 900px;
    width: 100%;
    padding: 10px;
    margin-left: 20px;
}
.containers form .frm_MaUser{
    width: 300px;
    display: inline-block;
    margin-top: 10px;
}
span{
    padding-right: 8px;  
}
.input-box{
    max-width: 280px;
    position: relative;
}
.input_container{
    border-radius: 3px;
    border-color: rgba(234, 243, 243, 0.61);
    height: 30px !important;
}
.button_Container{
    width: 100%;
    padding: 10px;
    margin-left: 20px;
}

