.table{
    margin-left: 20px;
    margin-top: 10px;

}
.containerss{
    max-width: 900px;
    width: 100%;
    padding: 10px;
    margin-left: 20px;
}
.containers form .frm_MaUser{
    width: 500px;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
}
.input-box{
   width: 100%;
   margin-bottom: 10px;
}
.input_container{
    border-radius: 3px;
    border-color: rgba(234, 243, 243, 0.61);
    height: 30px !important;
    margin-left: 10px;
    max-width: 40%;
}
span{
    padding-right: 8px;
    width: 15%;
    display: inline-block;
}
/* #input_maBenh{
    position: absolute;
    right: -10px;
}
#input_tenbenh{
    position: absolute;
    left: 127px;
}
#input_Chitietbenh{
    position: absolute;
    right: -10px;
}
#input_MaNTV{
    position: absolute;
    right: -10px;
}
#input_Machuyenmuc{
    position: absolute;
    right: -10px;
}
#input_MaBV{
    position: absolute;
    right: -10px;
} */

