.table{
    margin-left: 20px;
}
.containerss{
    max-width: 900px;
    width: 100%;
    padding: 10px;
    margin-left: 20px;
}
.containers form .frm_MaUser{
    width: 300px;
    display: inline-block;
    margin-top: 10px;
}
.input-box{
    max-width: 280px;
    position: relative;
}
.input_container{
    border-radius: 3px;
    border-color: rgba(234, 243, 243, 0.61);
    height: 30px !important;
}
span{
    padding-right: 8px;
}
#input_tenDN{
    position: absolute;
    width: 163px;
    right: -10px;
}
#input_password{
    position: absolute;
    right: -10px;
}
#input_maND{
    position: absolute;
    right: -10px;
    width: 163px;;
}
#input_maLoaiTK{
    position: absolute;
    right: -10px;
}
thead, tbody{
    text-align: center;
}

